#myHeader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-top: -1px;
  }
  
  #NavBar {
    float: left;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14;
    text-decoration: none;
  }
  
  .content {
    padding: 14;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  
  #BoxHeader {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  #header {
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  
  #bodies {
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  
  #h1 {
    color:black;
    text-align: center;
    font-size:300%
  }
  
  #h2 {
    color:black;
    font-size: 200%
  }
  
  p {
    font-size: 125%
  }
  
  #list {
    font-size: 125%
  }
  
  #code {
    font-family: Consolas,"courier new";
    color: black;
    font-size: 105%;
    background-color: #f1f1f1;
    padding: 2px;
  }
  
  .button {
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.75s;
        cursor: pointer;
      }
  
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  